/*Default styling*/

* {
    color: white;
    transition: 0.2s;
}

::selection {
    color: #fff;
    background: rgb(227, 169, 199);
}


p, h1, h2, h3, h4, h5, h6 {
    font-family: jaf-domus-titling-web, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.comfortaa {
    font-family: comfortaa, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.spacing-header {
    letter-spacing: 1rem;
    font-weight: 700;
    font-size: 2.75rem;
}

@media (min-width: 1200px) {
    .container{
        max-width: 90%!important;
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*Introduction page*/

#start-page{
    background: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("assets/823030.jpg") top center;
    background-size: cover;
}

.welcome-text-small {
    font-size: 2rem;
}

.welcome-text {
    font-size: 4.25rem;
}

.circle-image {
    border-radius: 50%;
}

#profile-image-intro {
    width: 100%;
}

/*About page*/

#about-page{
    background: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("assets/867638.jpg") center center;
    background-size: cover;
}

#about-header {
    font-size: 4rem;
}

#about-text {
    font-size: 2rem;
}

#profile-image-about {
    width: 90%;
}

/*Resume page*/

#resume-page {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("assets/612530.jpg") center center;
    background-size: cover;
}

.resume-education {
    font-size: 2.4rem;
}

.resume-education-time, .resume-experience-time {
    font-size: 1.5rem;
    font-weight: 300;
}

.resume-experience {
    font-weight: 300;
}

.resume-skill-header {
    font-weight: 400!important;
    font-size: 2.25rem;
}

.resume-skill-badge {
    font-family: jaf-domus-titling-web, sans-serif;
    font-weight: 300!important;
    font-style: normal;
    font-size: 1.5rem!important;
}

/*Project page*/

#project-page {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("assets/555559.jpg") center center;
    background-size: cover;
}

.project-name {
    font-weight: 300;
}

.project-time {
    font-size: 1.5rem;
    font-weight: 300;
}

.project-image {
    width: 80%;
}

.project-description {
    width: 80%;
    margin-top: -6%;
    z-index: 2;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.5);
}

#project-more {
    letter-spacing: .5rem;
    font-size: 2rem;
}

/*Contact page*/

#contact-page {
    background: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("assets/924925.jpg") top center;
    background-size: cover;
}

.contact-list {
    font-size: 1.75rem;
}

/*fullpage.js config*/

.fp-tooltip {
    font-family: jaf-domus-titling-web, sans-serif!important;
    font-weight: 700;
    font-style: normal;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background-color: white;
}

/*Header*/

#header {
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0;
    z-index: 99;
}

.nav-item, .navbar-brand {
    font-family: jaf-domus-titling-web, sans-serif!important;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem!important;
}

.navbar-brand {
    font-size: 3.5rem!important;
    margin-left: 5%;
}

a.navbar-brand {
    color:white;
}

a.menu-item {
    color: #7d7d7d;
}

a.menu-item.active {
    color:white;
}

a.navbar-brand:hover, a.menu-item:hover, .nav-item:hover, .nav-item:focus {
    color:#ff66aa!important;
}

@media (min-width: 768px) {
    .navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

a.menu-item.disable {
    pointer-events: none;
}

.helloyeew-link,
.helloyeew-link-bighover {
    color: #ff7ab5!important;
}

.helloyeew-link:hover {
    color: #ff2686!important;
    letter-spacing: 2px;
}

.helloyeew-link-bighover:hover{
    color: #ff2686!important;
    letter-spacing: .6rem;
}