/*Default styling*/

* {
    color: white;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: jaf-domus-titling-web, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.comfortaa {
    font-family: comfortaa, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.spacing-header {
    letter-spacing: 1rem;
    font-weight: 700;
    font-size: 2.75rem;
}

@media (min-width: 1200px) {
    .container{
        max-width: 90%!important;
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*Introduction page*/

#start-page{
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("assets/692624.png") top center;
    background-size: cover;
}

.welcome-text-small {
    font-size: 2rem;
}

.welcome-text {
    font-size: 4.25rem;
}

.circle-image {
    border-radius: 50%;
}

#profile-image-intro {
    width: 100%;
}

/*About page*/

#about-page{
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("assets/926968.png") center center;
    background-size: cover;
}

#about-header {
    font-size: 4rem;
}

#about-text {
    font-size: 2rem;
}

#profile-image-about {
    width: 90%;
}

/*Resume page*/

#resume-page {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("assets/713840.png") center center;
    background-size: cover;
}

.resume-education {
    font-size: 2.4rem;
}

.resume-education-time, .resume-experience-time {
    font-size: 1.5rem;
    font-weight: 300;
}

.resume-experience {
    font-weight: 300;
}

.resume-skill-header {
    font-weight: 400!important;
    font-size: 2.25rem;
}

.resume-skill-badge {
    font-family: jaf-domus-titling-web, sans-serif;
    font-weight: 300!important;
    font-style: normal;
    font-size: 1.5rem!important;
}

/*Project page*/

#project-page {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("assets/555559.jpg") center center;
    background-size: cover;
}

.project-name {
    font-weight: 300;
}

.project-time {
    font-size: 1.5rem;
    font-weight: 300;
}

.project-image {
    width: 80%;
}

.project-description {
    width: 80%;
    margin-top: -6%;
    z-index: 2;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.5);
}

#project-more {
    letter-spacing: .5rem;
    font-size: 2rem;

}

/*Contact page*/

#contact-page {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("assets/879383.jpg") center center;
    background-size: cover;
}

.contact-list {
    font-size: 1.75rem;
}